<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="robot">
    <gazebo>
        <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
            <parameters>$(find arm_description)/config/controllers.yaml</parameters>
        </plugin>
    </gazebo>
    <ros2_control name="GazeboSystem" type="system">
        <!-- <hardware>
            <plugin>gazebo_ros2_control/GazeboSystem</plugin>
        </hardware> -->

        <hardware>
            <plugin>dofbot_hardware/DofbotSystemHardware</plugin>
        </hardware>

        <joint name="link_1_joint">
            <command_interface name="position">
                <param name="min">-1.57</param>
                <param name="max">1.57</param>
            </command_interface>
            <state_interface name="position"/>
        </joint>
        
        <joint name="link_2_joint">
            <command_interface name="position">
                <param name="min">-1.57</param>
                <param name="max">1.57</param>
            </command_interface>
            <state_interface name="position"/>
        </joint>

        <joint name="link_3_joint">
            <command_interface name="position">
                <param name="min">-1.57</param>
                <param name="max">1.57</param>
            </command_interface>
            <state_interface name="position"/>
        </joint>

        <joint name="link_4_joint">
            <command_interface name="position">
                <param name="min">-1.57</param>
                <param name="max">1.57</param>
            </command_interface>
            <state_interface name="position"/>
        </joint>
    </ros2_control>
</robot>